[submodule "wbia-utool"]
	path = wbia-utool
	url = https://github.com/WildMeOrg/wbia-utool.git
[submodule "wbia-vtool"]
	path = wbia-vtool
	url = https://github.com/WildMeOrg/wbia-vtool.git
[submodule "wbia-tpl-pyhesaff"]
	path = wbia-tpl-pyhesaff
	url = https://github.com/WildMeOrg/wbia-tpl-pyhesaff.git
[submodule "wbia-tpl-pyflann"]
	path = wbia-tpl-pyflann
	url = https://github.com/WildMeOrg/wbia-tpl-pyflann.git
